@media screen and (max-width: 768px) {
    main {
        margin: 0;
        padding: 0;
    }

    .about {
        padding-inline: 8vw;
        padding-block: 4vh;
    }

    .about-wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.3vh;
    }

    .about-title {
        font-size: 3vw;
    }

    .about-desc {
        font-size: 3.8vw;
    }

    /* store */
    .store {
        background-color: #709C47;
        padding-block: 3vh;
    }

    .store-title {
        font-size: 3vw;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 8vw;
        margin-bottom: 2vh;
    }

    .store-title a {
        color: white;
        font-size: 4vw;
        text-decoration: underline;
    }

    .store-item-wrapper {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-inline: 8vw;
        gap: 4vw;
    }

    .store-item-wrapper::-webkit-scrollbar {
        display: none;
    }
  


    .card {
        position: relative;
        /* width: 11.875em; */
        width: 42vw;
        /* height: 16.5em; */
        height: 32vh;
        box-shadow: 0px 1px 13px rgba   (0,0,0,0.1);
        cursor: pointer;
        transition: all 120ms;
        display: flex;
        flex: 0 0 auto;
        scroll-snap-align: center;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 0.5em;
        padding-bottom: 3.4em;
        border-radius: 0.725em;
    }

    .best-sale {
        color: white;
        align-items: center;
        user-select: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        /* width: 11.875em; */
        width: 42vw;
        /* height: 16.5em; */
        height: 32vh;
        box-shadow: 0px 1px 13px rgba   (0,0,0,0.1);
        transition: all 120ms;
        flex: 0 0 auto;
        scroll-snap-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0.725em;
    }

    .card::after {
      content: "Added to Cart";
      display: flex;
      align-items: center;
      text-align: center;
      position: absolute;
      padding-left: 4.8vw;
      width: 100%;
      left: 0;
      bottom: 2;
      background: #00ff2f;
      color: #fff;
      height: 6vh;
      width: 90%;
      transition: all 80ms;
      font-weight: 600;
      opacity: 0;
      border-radius: 0 0 0.725em 0.725em;
    }

    .card .title {
      font-family: Arial, Helvetica,    sans-serif;
      font-size: 3.8vw;
      position: absolute;
      left: 0.625em;
      bottom: 1.875em;
      font-weight: 400;
      color: #000;
    }

    .card .price {
      font-family: Impact,  Haettenschweiler, 'Arial Narrow  Bold', sans-serif;
      font-size: 3.8vw;
      position: absolute;
      left: 0.625em;
      bottom: 0.625em;
      color: #000;
    }

    .card:hover::after {
      bottom: 0;
      opacity: 1;
    }

    .card:active {
      transform: scale(0.98);
    }

    .card:active::after {
      content: "Added !";
      height: 3.125em;
    }

    .card .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0.625em;
        user-select: none;
    }

    .text {
      max-width: 55px;
    }

    .image {
        background: rgb(241, 241,   241);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .buy {
        padding: 2vw;
    }

    .buy button {
        width: 100%;
        background-color: rgb(66, 174, 66);
        border: none;
        padding: 1vw;
        border-radius: 1vw;
    }

    .buy button a {
        color: white;
        text-decoration: none;
        font-size: 2.5vw;
    }

    .artist {
        padding-block: 3vh;
    }

    .artist-title {
        font-size: 3vw;
        text-align: center;
        padding-bottom: 3vh;
    }

    .artist-wrapper {
        display: flex;
        padding-inline: 8vw;
        overflow-x: scroll;
        gap: 4vw;
    }

    .artist-wrapper::-webkit-scrollbar {
        display: none;
    }

    .artist-name {
        font-size: 4vw;
    }

    .artist-item {
        padding: 6vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(233, 233, 233);
        box-shadow: 8vw rgba(0, 0, 0, 0.1);
        border-radius: 2vw;
        gap: 2vh;
    }

    .avatar img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 100%;
    }

    .avatar {
        width: 20vw;
        border-radius: 100%;
    }

    .forum {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: 56vh;
    }

    .forum-title {
        margin-bottom: 20px;
    }

    .forum-nav-wrapper {
        display: flex;
    }

    .radio-inputs {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border-radius: 0.5rem;
      background-color: #EEE;
      box-sizing: border-box;
      box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
      padding: 0.25rem;
      width: 300px;
      font-size: 14px;
    }

    .radio-inputs .radio {
      flex: 1 1 auto;
      text-align: center;
    }

    .radio-inputs .radio input {
      display: none;
    }

    .radio-inputs .radio .name {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
      border: none;
      padding: .5rem 0;
      color: rgba(51, 65, 85, 1);
      transition: all .15s ease-in-out;
    }

    .radio-inputs .radio input:checked + .name {
      background-color: #fff;
      font-weight: 600;
    }

    .forum-container {
        display: none;
        width: 100%;
        max-width: 800px;
    }

    .forum-container.active {
        display: block;
        margin-top: 20px;
    }

    /* Content Styles */
    .forum-container p {
        font-size: 16px;
        line-height: 1.5;
    }

    .news-card {
        display: flex;
        width: 92vw;
    }

    .news-iamge {
        width: 100%;
    }

    .news-iamge img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

}