@media screen and (max-width: 768px) {
    main {
        margin: 0;
        padding: 0;
    }

    .about {
        padding-inline: 8vw;
        padding-block: 4vh;
    }

    .about-wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.3vh;
    }

    .about-title {
        font-size: 3vw;
    }

    .about-desc {
        font-size: 2.8vw;
    }

    /* store */
    .store {
        background-color: #9BEA51;
        padding-block: 3vh;
    }

    .store-title {
        font-size: 3vw;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 8vw;
    }



    .store-item-wrapper {
        display: flex;
        overflow-x: scroll;
        padding-top: 3vh;
        padding-inline: 8vw;
        gap: 4vw;
    }

    .store-item-wrapper::-webkit-scrollbar {
        display: none;
    }
  


    .card {
        position: relative;
        width: 11.875em;
        height: 16.5em;
        box-shadow: 0px 1px 13px rgba   (0,0,0,0.1);
        cursor: pointer;
        transition: all 120ms;
        display: flex;
        flex: 0 0 auto;
        scroll-snap-align: center;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 0.5em;
        padding-bottom: 3.4em;
    }

    .card::after {
      content: "Add to Cart";
      padding-top: 1.25em;
      padding-left: 1.25em;
      position: absolute;
      left: 0;
      bottom: -60px;
      background: #00AC7C;
      color: #fff;
      height: 2.5em;
      width: 90%;
      transition: all 80ms;
      font-weight: 600;
      text-transform: uppercase;
      opacity: 0;
    }

    .card .title {
      font-family: Arial, Helvetica,    sans-serif;
      font-size: 0.9em;
      position: absolute;
      left: 0.625em;
      bottom: 1.875em;
      font-weight: 400;
      color: #000;
    }

    .card .price {
      font-family: Impact,  Haettenschweiler, 'Arial Narrow  Bold', sans-serif;
      font-size: 0.9em;
      position: absolute;
      left: 0.625em;
      bottom: 0.625em;
      color: #000;
    }

    .card:hover::after {
      bottom: 0;
      opacity: 1;
    }

    .card:active {
      transform: scale(0.98);
    }

    .card:active::after {
      content: "Added !";
      height: 3.125em;
    }

    .card .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0.625em;
    }

    .text {
      max-width: 55px;
    }

    .image {
        background: rgb(241, 241,   241);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .buy {
        padding: 2vw;
    }

    .buy button {
        width: 100%;
        background-color: rgb(66, 174, 66);
        border: none;
        padding: 1vw;
        border-radius: 1vw;
    }

    .buy button a {
        color: white;
        text-decoration: none;
        font-size: 2.5vw;
    }

    .artist {
        padding-block: 3vh;
    }

    .artist-title {
        font-size: 3vw;
        text-align: center;
        padding-bottom: 2vh;
    }

    .artist-wrapper {
        display: flex;
        padding-inline: 8vw;
        overflow-x: scroll;
        gap: 4vw;
    }

    .artist-wrapper::-webkit-scrollbar {
        display: none;
    }

    .artist-item {
        padding: 6vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(233, 233, 233);
        box-shadow: 8vw rgba(0, 0, 0, 0.1);
        border-radius: 2vw;
        gap: 2vh;
    }

    .avatar img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 100%;
    }

    .avatar {
        width: 20vw;
        border-radius: 100%;
    }

/* Gaya CSS dapat ditambahkan di sini */
    .forum {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 48vh;
    }

    .forum-title {
        font-size: 3vw;
    }

    .forum-nav ul {
        list-style: none;
        display: flex;
        margin-bottom: 20px;
        border-bottom: thick;
        gap: 4vw;
    }


    .forum-nav a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 3.5vw;
        transition: color 0.3s ease;
    }

    .forum-nav a:hover {
        color: #3498db;
    }

    .forum-nav a:active {
        color: green;
    }

    .forum-container {
        display: none;
        width: 100%;
        max-width: 800px;
    }

    .forum-container.active {
        display: block;
        margin-top: 20px;
    }

    /* Content Styles */
    .forum-container p {
        font-size: 16px;
        line-height: 1.5;
    }

}